@import url('https://fonts.googleapis.com/css?family=Righteous');

@import url('https://fonts.googleapis.com/css?family=Muli');

/* Navigation Bar Style*/
.navbar {
	background-color: #fff;
	height: 7vh;
}

.navbar-brand {
	font-size: 20px;
	margin: 20px auto;
	font-family: 'Righteous';
	color: #ad2e2e;
}

.nav-button {
	font-size: 20px;
	margin: 30px auto;
	font-family: 'Muli', sans-serif;
	color: #008080;
}

.nav-link {
	font-size: 20px;
	margin: 30px auto;
	font-family: 'Muli', sans-serif;
	color: #008080;
}

.nav-link:hover {
	border-bottom: 1px solid #A0522D;
	transition: 0.1s;
	color: #A0522D;
}

.dropdown-item {
	font-size: 15px;
	margin: 10px auto;
	font-family: 'Muli', sans-serif;
	color: #A0522D;
} 

#map {
	height: 700px;
}
